* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'NotoSans', sans-serif;
}

@font-face {
    font-family: "NotoSans";
    src: url('../fonts/NotoSans-Regular.ttf') format('truetype');
}

body {
    overflow: auto;
    background: #e4e4e4;
}

main {
    padding: 20px;
}

.login-card {
    padding: 20px;
    color: #ffffff;
    background: #1783db;
    border-radius: 20px;
}

.content-card {
    /*margin-top: 20px;*/
    padding: 20px;
    color: #ffffff;
    background: #1783db;
    border-radius: 20px;
    overflow: auto;
}

.btn-login {
    width: 100%;
    padding: 10px;
    font-weight: 800;
    font-size: 14pt;
    letter-spacing: 3px;
    text-align: center;
    color: #1783db;
    background: #ffffff;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 10px 40px #3379b73b;
}

.btn-logout {
    width: 100%;
    padding: 10px;
    font-weight: 800;
    font-size: 14pt;
    letter-spacing: 3px;
    text-align: center;
    color: #b73333;
    background: #ffffff;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 10px 40px #b733333b;
}

.bg-system {
    background: #1783db;
    padding: 20px;
    border-radius: 25px;
    color: #ffffff;
}
/*.menu-area {
    width: 20vw;
    height: 100vh;
    overflow: auto;
    background: #337ab7;
}

.content-area {
    width: 80vw;
    height: 100vh;
    overflow: auto;
    background: #c9c9c9;
    padding: 35px;
    display: flex;
}

.content-card {
    width: 100%;
    background: #2d72af;
    color: #ffffff;
    border-radius: 20px;
    padding: 20px;
}*/

.menu-area::-webkit-scrollbar, .content-area::-webkit-scrollbar {
    width: 8px;
}

.menu-area::-webkit-scrollbar-track, .content-area::-webkit-scrollbar-track {
    background: none;
}

.menu-area::-webkit-scrollbar-thumb, .content-area::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
}
